<div class="container"><div class="jumbotron"><span class="rainbow"><h1>Stellar Shoes Management</span> </h1></div></div>

<div class="container"><a href="/brands" id="brand-link">See all available brands </a>
</br>
</br>

<hr>

</br>
</br>
<a href="/stores" id="store-link">See all available stores </a>

</div>


</br>
</br>
